body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

nav {
    background-color: #007bff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

nav h1 {
    display: inline;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s, color 0.5s;
}

nav a:hover {
    background-color: #00a2ffbb;
    color: white;
}

#container {
    padding: 20px;
}

#vbaCode {
    white-space: pre;
    background: #2e2e2e;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

input[type="text"], select {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border: 1px solid #444;
    background: #1e1e1e;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    background: #0056b3;
}

.class-list {
    margin-top: 10px;
    padding: 10px;
    background: #2e2e2e;
    border: 1px solid #444;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: #007bff;
    color: rgb(197, 196, 196);
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.footer-text {
    margin: 5px 0;
}

@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav h1 {
        display: block;
        margin-bottom: 10px;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }

    #container {
        padding: 10px;
    }

    #vbaCode {
        font-size: 14px;
        padding: 8px;
    }

    input[type="text"], select {
        width: 100%;
        max-width: none;
        margin-bottom: 10px;
    }

    .footer {
        padding: 15px;
    }
}
